@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../img/bgLanding-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 697px;
    position: relative;
}

nav{
    /* background-color: #AEBDCA; */
    width: 100%;
    height: 60px;
}

nav .nav-logo{
    line-height: 60px;
    margin-left: 170px;
}

nav .nav-logo a{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

nav ul{
    float: right;
    margin-right: 170px;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    line-height: 60px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.container{
    margin: 0 170px;
    position: relative;
}

.landing-page{
    height: 650px;
}

.landing-page .content-landing{ 
    position: relative;
    top: 25%;
}

.landing-page .content-landing h1{
    font-size: 80px;
    color: #fff;
    font-family: 'Caveat', sans-serif;
}

.landing-page .content-landing span{
    color: #06283D;
}

.landing-page .content-landing p{
    width: 30rem;
}

.button{
    margin-top: 25px;
}

.button .btn{
    background-color: #06283D;
    padding: 13px 25px;
    text-decoration: none;
    color: #ffff;
    border-radius: 5px;
}

/* Page About */

.about{
    height: 700px;
    width: 100%;
    display: inline-flex;
    position: relative;
}

.about .container-about{
    margin: auto;
    /* width: auto; */
    padding: 50px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #cecece;
}

.about .container-about .text-about{
    margin: auto;
    width: 35rem;
}


.about .container-about .text-about h1{
    font-size: 35px;
}

.about .container-about .text-about p{
    font-size: 13px;
}

.about .container-about .image-about{
    position: relative;
    width: 30rem;
    float: left;
}

.about .container-about .image-about img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Page Destination */

.destination{
    height: 700px;
    /* margin-top: 100px; */
}

.destination .content-destination{
    margin-top: 80px;
}

.destination .content-destination h1{
    text-align: center;
    font-size: 40px;
    color: #343434;
}

.destination .content-destination p{
    text-align: center;
    color: #343434;
}

.destination .card{
    position: relative;
    justify-content: center;
    text-align: center;
    display: flex;
}

.destination .card .card-body{
    background-color: rgb(255, 255, 255);
    width: 300px;
    box-shadow: 0 0 10px #cecece;
    margin: 50px 25px 0 25px;
    /* border-radius: 5px; */
    /* padding: 15px 10px; */
}

.card-body img{
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
}

.card-body .content-card{
    padding: 35px 17px;
    text-align: left;
}

.card-body .content-card h1{
    color: #343434;
    font-size: 20px;
    margin-bottom: 5px;
}

.card-body .content-card p{
    color: #606470;
    width: 100%;   
}

footer{
    width: 100%;
    height: 50px;
    background-color: #06283D;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer p{
    color: #fff;
}